<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<body>
    <img src="assets/APP Logo.png">
    <div class="form-container">

        <form action="" method="post">
            <h3>Welcome Students!</h3>
            <input type="email" name="email" required placeholder="Username">
            <input type="password" name="password" required placeholder="Password">
            <input type="submit" name="submit" value="login now" class="form-btn">
            <p>Don't have an account?</p> <a href="/register">Register Now</a>
        </form>
    </div>
</body>
</html>
