@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background-color: #4861a2;
  margin: 0;
  color: white;
}

.wrapper, .form-container {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container{
  margin-top: 0%;
  display: flex;
  justify-content: right;
  margin-right: 0px;
  animation: fadeInContainer 3s forwards;
  
}

.form-container form{
  padding:20px;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  background: #4861a2;
  text-align: center;
  width: 500px;
}

.form-container form h3{
  font-size: 24px;
  font-family: Arial;
  margin-bottom: 10px;
  color: #333;
}

.form-container form input{
  background-color: #d1d1d1;
  border-radius: 100px;
  width: 60%;
  padding:10px 15px;
  margin: 5px;
  color: black;
}

.form-container form .form-btn {
  background: blue;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.form-container form .form-btn:hover {
  background: rgb(0, 0, 111);
  transform: scale(1.1);
}

.form-container form p{
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

.form-container form p a{
  color: crimson;
}

img {
  width: 450px;
  height: auto;
  float: left;
  margin-left: 0px;
  margin-right: 250px;
}

@keyframes fadeInContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}