<app-student-dashboard></app-student-dashboard>
<section class="text-slate-50 bg-[#4861A2] body-font">
  <div class="container px-[3rem] py-[4.6rem] mx-auto grid grid-cols-4 gap-6">
    <div class="max-w-sm p-6 bg-[#6284DB] border border-black rounded-lg shadow">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-slate-50">Sample Python Project</h5>
      </a>
      <p class="mb-3 font-base text-slate-50">A Python project that analyzes user sentiment in social media posts using natural language processing techniques.</p>
      <a href="#" class="inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-center text-white bg-[#1A2C8B] rounded-full hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          View
      </a>
    </div>
    
    

    <div id="newCardForm" class="max-w-sm p-6 bg-[#6284DB] border border-black rounded-lg shadow">
      <form id="addCardForm" class="flex items-center justify-center">
          <button type="submit" class="w-40 inline-center items-center justify-center px-3 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Add Card
          </button>
      </form>
  </div>
  </div>
</section>
