.background{
  background-color: #4861a2;
  width: auto;
  height: 100vh;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: ;
}

img {
  margin-top: 80px;
}