.background{
  background-color: #4861a2;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    width: auto;
    height: 100vh;
}

img {
  margin-top: 80px;
}