*{
  font-family: Poppins;
}
  
.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  background-color: #1C202C;
  overflow-x: hidden;
}

.head{
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  margin: 15px 0px 1px 0px;
}

.logo{
  height: 69px;
  width: 69px;
}

.title{
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
}