nav ul{
  margin-left: 110px;
  margin-right: 110px;
  background-color: #1C202C;
  padding: 12px;
}

nav ul li{
  display: inline-block;
  margin: 3px;
}

nav ul li a{
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: poppins;
  font-weight: 600;
  text-decoration: none;
  transition: font-size 0.3s;
  margin-left: 25px;
  margin-right: 25px;
}

nav ul li a:hover {
  text-decoration: underline;
  font-weight: 696;
}