@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  padding: 50px 150px;
}

.profile {
  padding: 25px 100px 25px 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#pfp {
  height: 180px;
  border-radius: 100%;
  border: 5px;
  border-style: solid;
  border-color: black;
}

.name {
  margin: 10px;
  display: flex;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
}

.program {
  margin: 10px;
}

.pfp-border {
  height: 3px;
  width: 50vh;
  background-color: #b9c4ff;
  border-radius: 5px;
}

.center-border {
  @apply h-96 w-[5px] bg-blue-500 opacity-50 my-0 mx-3;
}

.featured-container {
  display: flex;
  animation: fadeInContainer 3s forwards;
  background-color: #6284db;
  border-radius: 20px;
  flex-grow: 1;
  flex-direction: column;
}

#fp-title {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  font-weight: 699;
  font-family: Poppins;
}

.proj {
  display: flex;
}

.proj-img {
  margin: 20px;
}

.proj-info {
  display: flex;
  margin: 25px 25px 25px 0;
  flex-direction: column;
}

.proj-name {
  font-size: large;
  font-family: Poppins;
  font-weight: 700;
  margin: 10px 0 10px 0;
}
