<div class="wrapper">
  <div class="profile">
    <img src="assets\icon.png" id="pfp" />
    <h1 class="name text-xl">{{ user?.firstName }} {{ user?.lastName }}</h1>
    <div class="pfp-border"></div>
    <h3 class="program">{{ user?.program }}</h3>
  </div>
  <div class="center-border"></div>
  <div *ngIf="portfolio; else noPortfolio" class="featured-container">
    <h1 id="fp-title" class="font-bold text-2xl">Featured Project</h1>
    <div class="proj">      
      <div class="proj-info">
        <div class="proj-name">{{ portfolio.projectTitle }}</div>

        <div class="proj-desc">
          {{ portfolio.projectDesc }}
        </div>
        <span class="underline pt-2">{{ portfolio.projectGit }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #noPortfolio>
  <div>
    <h2 class="text-lg font-semibold">No Featured Project Available</h2>
    <p class="text-base">
      Please add a project in portfolio tab to feature it here.
    </p>
  </div>
</ng-template>
