.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

.profile {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 100px;
    margin-right: 150px;
}

.pfp{
  margin: 10px;
}

.pfp img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #00000;
  
}

.featured-container{
    display: flex;
    justify-content: center;
    animation: fadeInContainer 3s forwards;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 100px;
    margin: 100px;
  }
  

