<div class="wrapper">
  <div class="profile">
    <img src="assets\icon.png" id="pfp" />
    <h1 class="name">First Name MI. Surname, Prefix.</h1>
    <div class="pfp-border"></div>
    <h3 class="program">Program</h3>
  </div>
  <div class="center-border"></div>
  <div class="featured-container">
    <h1 id="fp-title">Featured Project</h1>
    <div class="proj">
      <div class="proj-img"></div>
      <div class="proj-info">
        <div class="proj-name">Project Name</div>
        <div class="proj-date"></div>
        <div class="proj-desc">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>
</div>
<app-feedback></app-feedback>
