@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #4861a2;
}

.form-container img {
    width: 450px;
    height: auto;
    display: block;

  }
  
.form-container form{
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    width: 650px;
    animation: fadeInContainer 3s forwards;
}

.form-container form h3{
    font-size: 24px;
    font-family: Poppins;
    margin-bottom: 10px;
    color: white;
}

.form-container form input{
    border-radius: 100px;
    border: none;
    width: 60%;
    padding:10px 15px;
    font-size: 15px;
    margin:8px 0;
    font-family: Arial;
    background: #d1d1d1;
  }

.form-container form .form-btn{
    background: #1A2C8B;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}

.form-container form p{
    font-size: 20px;
    color: white;
}

.form-container form a{
  color: #B9C4FF;
  text-decoration: none;
}

img {
  padding-right: 250px;
}


@keyframes fadeInContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
