<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>
</head>

<body>
        
    <div class="form-container">
        <div class="logo flex">

            <img src="assets/APP Logo.png" alt="logo">
        </div>

        <form action="" method="post">

            <h3>Register Now</h3>

            <input type="text" name="name" required placeholder="Enter your Name">
            <input type="email" name="email" required placeholder="Enter your Email">
            <input type="password" name="password" required placeholder="Enter your Password">
            <input type="password" name="cpassword" required placeholder="Confirm your Password">

            <input type="submit" name="submit" value="Next" class="form-btn">

            <p>Already have an account?</p> <a href="/login">Login Now</a>

        </form>

        
    </div>

</body>

</html>
