@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #4861a2;
}

.form-container img {
  width: 450px;
  height: auto;
  display: block;
}

.form-container form {
  padding: 20px;
  border-radius: 50px;
  text-align: center;
  width: 650px;
  animation: fadeInContainer 3s forwards;
}

.form-container form h2 {
  font-size: 24px;
  font-family: Poppins;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}

.form-container form .input-field {
  border-radius: 100px;
  border: none;
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  margin: 8px 0;
  font-family: Poppins;
  background-color: #d1d1d1;
  color: black;
}

.form-container form .input-date {
  border-radius: 100px;
  border: none;
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  margin: 8px 0;
  font-family: Poppins;
  background: white;
}

.form-container form select {
  border-radius: 100px;
  border: none;
  width: 100%;
  padding: 10px 15px;
  font-size: 15px;
  margin: 8px 0;
  font-family: Poppins, sans-serif;
  background: #d1d1d1;
}

.form-container form .form-btn {
  background: #1a2c8b;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  padding: 0px 30px;
  font-family: Poppins;
}

.form-container form p {
  font-size: 20px;
  color: white;
  font-family: Poppins;
}

.form-container form a {
  color: #b9c4ff;
  text-decoration: none;
  font-family: Poppins;
}

img {
  padding-right: 50px;
}

@keyframes fadeInContainer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
