<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Format</title>
</head>
<body>
<div class="wrapper">
    <img src="assets/APP Logo.png">
<div class="form-container">
    <form action="" method="post">
        <h3>Let's Get Started</h3>
            <input type="text" name="fname" required placeholder="First Name">
            <input type="text" name="lname" required placeholder="Last Name">
            <input type="email" name="email" required placeholder="Email">
            <input type="password" name="password" required placeholder="Enter your Password">
            <input type="password" name="cpassword" required placeholder="Confirm your Password">
            <input type="text" name="department" required placeholder="Department">
            <input type="text" name="program" required placeholder="Program">
            <select name="user_type">
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>
            <input type="submit" name="submit" value="register now" class="form-btn">
        <p>Already have an account?</p> <a routerLink="/login">Login Now</a>
    </form>
</div>
</div>
</body>
</html>