
.container {
    background: transparent;
    max-width: 50%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: none;
    padding: 0;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #1A2C8B;
  margin: 1em 0;
  padding: 0;
}

form {
    padding: 20px;
}

h2 {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15.5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select,
textarea {
    color: #fff ;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    background-color : #4861A2;
    font-size: 17px;
}

.pfp{
    height: 180px;
    width: 180px;
    border-radius: 100%;
    border: 5px;
    border-style: solid;
    border-color: black;
    object-fit: cover;
    
}

.pfpbtn{
    margin-left: 50px;
    color: transparent;
    margin-bottom: 30px;
}

input[type="submit"] {
    width: 100%;
    background-color: #1A2C8B;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background-color: #344e85;
}

textarea {
    resize: vertical;
}
